<div style="text-align:center">
  <div class="slider">
    <div class="caption">
      Choose your
      <div class="text-box">
        <div>city</div>
        <div>bike</div>
        <div>experience</div>
      </div>
    </div>
  </div>
</div>
<div class="angular-maps">
  <agm-map [latitude]="latCity" [longitude]="lngCity">
    <agm-marker [latitude]="latMad1" [longitude]="lngMad1"></agm-marker>
    <agm-marker [latitude]="latMad2" [longitude]="lngMad2"></agm-marker>
    <agm-marker [latitude]="latMad3" [longitude]="lngMad3"></agm-marker>
    <agm-marker [latitude]="latMad4" [longitude]="lngMad4"></agm-marker>
    <agm-marker [latitude]="latGal1" [longitude]="lngGal1"></agm-marker>
    <agm-marker [latitude]="latGal2" [longitude]="lngGal2"></agm-marker>
    <agm-marker [latitude]="latGal3" [longitude]="lngGal3"></agm-marker>
    <agm-marker [latitude]="latGal4" [longitude]="lngGal4"></agm-marker>
  </agm-map>
</div>
<div>
  <div class="row search">
    <div class="col s6">

      <label>City</label>
      <!-- <select #select class="browser-default" type="text" [(ngModel)]="term">
        <option value="" disabled selected>Select one city</option>
        <option [value]="1">Madrid</option>
        <option [value]="2">Galicia</option>
      </select> -->
      <input type="text" type="text" [(ngModel)]="term">

    </div>
    <div class="col s6">

      <label>Type</label>
      <!-- <select class="browser-default" #type="text" [(ngModel)]="term1" name="bikeType">
        <option value="" disabled selected>Motorcycle type</option>
        <option value="1">Scooter</option>
        <option value="2">Sport</option>
        <option value="3">Trail</option>
        <option value="4">Cross</option>
      </select> -->
      <input type="text" type="text" [(ngModel)]="term1">

    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let r of rentList | filter:term | filter:term1" class=" col s5 m4 ">
    <div class="card z-depth-5">

      <span class="card-title amber-text text-darken-3">
        <h5>{{r.brand}} - {{r.model}}</h5>
      </span>
      <div class="card-image">
        <img src="{{r.img}}">
        <button class="btn-floating halfway-fab waves-effect waves-light pulse btn-large orange" [routerLink]="['/rent',r._id]">
          <i class="material-icons">add</i>
        </button>
      </div>
      <div class="card-content brown darken-4">
        <p class="amber-text text-darken-3">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
          markup to use effectively.</p>
        <h6 class="white-text text-darken-3">Price: {{r.price}}</h6>
      </div>
    </div>
  </div>
</div>
