<div *ngIf="user">
  <div class="row">
    <div class="col-3 backbtn" style="text-align:center">
      <a [routerLink]="['/profile', user._id]">
        <button class="btn btn-primary"> back </button>
      </a>
    </div>
    <div class="col-6">
      
      <form (ngSubmit)="submitForm(user._id, edituser)" #edituser="ngForm">
        <label> Name </label>
        <input type="text" #edituserName="ngModel" [(ngModel)]="user.name" name="name">
        <label> Last name </label>
        <input type="text" #edituserlastName="ngModel" [(ngModel)]="user.lastName" name="lastName">
        <label> Image </label>
        <input type="text" #edituseruserImage="ngModel" [(ngModel)]="user.userImage" name="userImage">
        <label> City </label>
        <input type="text" #edituserusername="ngModel" [(ngModel)]="user.city" name="city">
        <label> License </label>  
        <input type="text" #edituseruserlicense="ngModel" [(ngModel)]="user.license" name="license">


        <button class="btn btn-primary" type="submit">Save</button>

      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
