/* You can add global styles to this file, and also import other style files */
footer {
    display: flex;
   
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .row-container{

  }

  @media only screen and (min-width: 993px){
.container{ 
    width:inherit;
  }
} 



.page-footer{
  padding-top:0;

}
