<div style="text-align:center">
  <form >
    <div >
      <h1>Rent Form</h1>
      <label>Brand:</label><br>
      <input type="text" [(ngModel)]="brand"name="brand"><br>
      <label>Model:</label><br>
      <input type="text" [(ngModel)]="model"name="model"><br>
      <label>CC:</label><br>
      <input type="number" [(ngModel)]="horsePower"name="horsePower"><br>
      <label>City:</label><br>
      <input type="text" [(ngModel)]="city"name="city"><br>
      <label>Price:</label><br>
      <input type="text" [(ngModel)]="price"name="price"><br>
      <label>Use:</label><br>
      <input type="text" [(ngModel)]="user"name="use"><br>
      <label>Pick-Up date:</label><br>
      <input type="date" [(ngModel)]="recogida"name="recogida"><br>
      <label>Deliver date:</label><br>
      <input type="date" [(ngModel)]="entrega"name="entrega"><br>
      <label>Images:</label><br>
      <input type="text" [(ngModel)]="img"name="img"><br>
    </div>
    <button (click)="createRent()">Enviar</button>
  </form>
</div>
