<div *ngIf="!session.getUser()">
  <h1>For create a rent you must be registered</h1>
</div>

<div *ngIf="session.getUser()" style="text-align:center">
  <div class="row">

    <div class="col s12 m4 l4">
      <form>
        <h1>Rent Form</h1>
        <label>Brand:</label>
        <br>
        <input type="text" [(ngModel)]="rent.brand" name="brand">
        <br>
        <label>Model:</label>
        <br>
        <input type="text" [(ngModel)]="rent.model" name="model">
        <br>
        <label>CC:</label>
        <br>
        <input type="number" [(ngModel)]="rent.horsePower" name="horsePower">
        <br>
        <label>City:</label>
        <br>
        <input type="text" [(ngModel)]="rent.city" name="city">
        <br>
        <label>Price:</label>
        <br>
        <input type="text" [(ngModel)]="rent.price" name="price">
        <br>
        <label>Use:</label>
        <br>
        <input type="text" [(ngModel)]="rent.use" name="use">
        <br>
        <label>Type</label>
        <select class="browser-default" type="text" [(ngModel)]="rent.bikeType" name="bikeType">
          <option value="" disabled selected>Choose your option</option>
          <option value="Scooter">Scooter</option>
          <option value="Sport">Sport</option>
          <option value="Trail">Trail</option>
          <option value="Cross">Cross</option>
        </select>
        <label>Place</label>
        <select class="browser-default" type="text" [(ngModel)]="rent.where" name="where">
          <option value="" disabled selected>Choose where</option>
          <option value="North">North</option>
          <option value="South">South</option>
          <option value="East">East</option>
          <option value="West">West</option>
        </select>
        <label>Pick-Up date:</label>
        <br>
        <input type="date" [(ngModel)]="rent.recogida" name="recogida">
        <br>
        <label>Deliver date:</label>
        <br>
        <input type="date" [(ngModel)]="rent.entrega" name="entrega">
        <br>
        <label>Images:</label>
        <br>
        <input type="text" [(ngModel)]="rent.img" name="img">
        <br>
      </form>
      <button class="waves-effect waves-accent-2 btn amber darken-3" (click)="createRent(rent)">Enviar</button>
    </div>

    <div>

      <div>
        <span class="flow-text">
          <div class="angular-maps">
            <agm-map [latitude]="latCity" [longitude]="lngCity">
              <agm-marker [latitude]="latMad1" [longitude]="lngMad1"></agm-marker>
              <agm-marker [latitude]="latMad2" [longitude]="lngMad2"></agm-marker>
              <agm-marker [latitude]="latMad3" [longitude]="lngMad3"></agm-marker>
              <agm-marker [latitude]="latMad4" [longitude]="lngMad4"></agm-marker>
              <agm-marker [latitude]="latGal1" [longitude]="lngGal1"></agm-marker>
              <agm-marker [latitude]="latGal2" [longitude]="lngGal2"></agm-marker>
              <agm-marker [latitude]="latGal3" [longitude]="lngGal3"></agm-marker>
              <agm-marker [latitude]="latGal4" [longitude]="lngGal4"></agm-marker>
            </agm-map>
          </div>
        </span>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col s7 push-s5">
    <span class="flow-text">This div is 7-columns wide on pushed to the right by 5-columns.</span>
  </div>
  <div class="col s5 pull-s7">
    <span class="flow-text">5-columns wide pulled to the left by 7-columns.</span>
  </div>
</div>