<div>
  <form>
    <div>
      <h1>Rent Form</h1>
      <label>Brand:</label><br>
      <input type="text" name="brand"><br>
      <label>Model:</label><br>
      <input type="text" name="model"><br>
      <label>CC:</label><br>
      <input type="number" name="horsePower"><br>
      <label>City:</label><br>
      <input type="text" name="city"><br>
      <label>Price:</label><br>
      <input type="text" name="price"><br>
      <label>Use:</label><br>
      <input type="text" name="use"><br>
      <label>Pick-Up date:</label><br>
      <input type="date" name="recogida"><br>
      <label>Deliver date:</label><br>
      <input type="date" name="entrega"><br>
      <label>Images:</label><br>
      <input type="text" name="img"><br>
    </div>
    <button (click)="createRent()">ADASDAS</button>
  </form>
</div>
