<div style="text-align:center">
  <button class="waves-effect waves-light btn" [routerLink]="['rentList']">ALQUILAR UNA MOTO</button>
  <button class="waves-effect waves-accent-2 btn" [routerLink]="['newRent']">ALQUILAR MI MOTO</button>
</div>
<br>
<div style="text-align:center">
  <img class="responsive-img rounded"src="https://www.topgear.com/sites/default/files/styles/fit_1960x1102/public/images/news-article/carousel/2016/05/2b43c81e11a5f5b32700f312ec1cd9e5/da_mark_ii_series_general.jpg?itok=dLR-xrCb"
    width="80%" alt="">
</div>