<div style="text-align:center">
  <button class="waves-effect waves-light btn amber darken-3" [routerLink]="['rentList']">ALQUILAR UNA MOTO</button>
  <button class="waves-effect waves-accent-2 btn amber darken-3" [routerLink]="['newRent']">ALQUILAR MI MOTO</button>
</div>
<br>

<div class="parallax-container">
  <div class="parallax" materialize="parallax">  
      <video  src="http://coverr.co/s3/mp4/Scooooters.mp4" autoplay loop playsinline muted><h1 class="logo">HOLA</h1></video>
  <div class="video-container">

    <div class="support" style="text-align:center">
      <div class="preloader-wrapper big active" >
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div></div>
</div>
<div class="section white">
  <div class="row container">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons amber-text text-darken-3">flash_on</i></h2>
              <h5 class="center">Your motorcycle rent fast!</h5>
              <p class="light flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, consequatur, nihil iure velit repellat quaerat quo nam explicabo voluptas quia veritatis tenetur! Nesciunt eveniet accusantium quisquam animi quasi cupiditate. Dolorum.</p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons amber-text text-darken-3">group</i></h2>
              <h5 class="center">Why us?</h5>
  
              <p class="light flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, consequatur, nihil iure velit repellat quaerat quo nam explicabo voluptas quia veritatis tenetur! Nesciunt eveniet accusantium quisquam animi quasi cupiditate. Dolorum.</p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons amber-text text-darken-3">settings</i></h2>
              <h5 class="center">User Experience Focused</h5>
  
              <p class="light flow-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, expedita nulla at neque id delectus natus dignissimos ullam odit, nesciunt excepturi placeat! Soluta animi accusantium mollitia commodi voluptas consequatur excepturi!</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="https://www.theridingobsession.com/wp-content/uploads/2014/12/motorcycle-camp-finder.png"></div>
</div>
<div class="wrapperFooter">
    <footer class="page-footer teal amber darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="brown-text text-darken-3">Bio</h5>
            <p class="brown-text text-darken-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto, assumenda, placeat sit deserunt nisi explicabo praesentium odit repellat nobis, consequatur ipsum sed iure labore aliquam corporis dolores ipsam animi!</p>
    
    
          </div>
          <div class="col l6 s12">
            <h5 class="brown-text text-darken-3" style="text-align:center">Connect with us</h5>
            <ul style="text-align:center">
              <li><a class="brown-text text-darken-3 social twitter " href="#!">Twitter <i class="fa fa-twitter"></i></a></li>
              <li><a class="brown-text text-darken-3 social facebook" href="#!">Facebook <i class="fa fa-facebook"></i></a></li>
              <li><a class="brown-text text-darken-3 social instagram" href="#!"> Instagram <i class="fa fa-instagram"></i></a></li>
              <li><a class="brown-text text-darken-3" href="#!">Contact<i class="material-icons ">local_phone </i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="brown-text text-darken-3" href="https://www.linkedin.com/in/alvaromataaracil/">Álvaro Mata Aracil </a>at Ironhack 2018
        </div>
      </div>
    </footer>
  </div>