<header>
    <div class="navbar-fixed">
    <nav >
      <div class="nav-wrapper amber darken-3">
        <a href="#" class="brand-logo"><img src="https://tbncdn.freelogodesign.org/93a2c370-1e94-45cc-8d7a-f97d7a0bb856.png?1520384818556" width="100" alt=""></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['login']">Login</a></li>
          <li><a [routerLink]="['signup']">Signup</a></li>
          <li *ngIf="session.getUser()">
            <a [routerLink]="['profile', session.getUser()._id]">My profile</a>
        </li>
        <li *ngIf="session.getUser()">
          <a (click)="logout()">Logout</a>
        </li>
        </ul>
      </div>
    </nav>
  </div>
  </header>

<div style="text-align:center">
  <h1>
    
  </h1>
</div>

<router-outlet></router-outlet>
