<header>
    <div class="navbar-fixed">
    <nav >
      <div class="nav-wrapper amber darken-3">
        <a href="#" class="brand-logo"><img src="https://tbncdn.freelogodesign.org/93a2c370-1e94-45cc-8d7a-f97d7a0bb856.png?1520384818556" width="100" alt=""></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['login']">Login</a></li>
          <li><a [routerLink]="['signup']">Signup</a></li>
          <li *ngIf="session.getUser()">
            <a [routerLink]="['profile', session.getUser()._id]">My profile</a>
        </li>
        <li *ngIf="session.getUser()">
          <a (click)="logout()">Logout</a>
        </li>
        </ul>
      </div>
    </nav>
  </div>
  </header>

<div style="text-align:center">
  <h1>
    
  </h1>
</div>

<router-outlet></router-outlet>
<div class="wrapperFooter">
    <footer class="page-footer teal amber darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="brown-text text-darken-3">Bio</h5>
            <p class="brown-text text-darken-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto, assumenda, placeat sit deserunt nisi explicabo praesentium odit repellat nobis, consequatur ipsum sed iure labore aliquam corporis dolores ipsam animi!</p>
    
    
          </div>
          <div class="col l6 s12">
            <h5 class="brown-text text-darken-3">Connect with us</h5>
            <ul>
              <li><a class="brown-text text-darken-3 social twitter " href="#!">Twitter <i class="fa fa-twitter"></i></a></li>
              <li><a class="brown-text text-darken-3 social facebook" href="#!">Facebook <i class="fa fa-facebook"></i></a></li>
              <li><a class="brown-text text-darken-3 social instagram" href="#!"> Instagram <i class="fa fa-instagram"></i></a></li>
              <li><a class="brown-text text-darken-3" href="#!">Contact<i class="material-icons ">local_phone </i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="brown-text text-darken-3" href="https://www.linkedin.com/in/alvaromataaracil/">Álvaro Mata Aracil </a>at Ironhack 2018
        </div>
      </div>
    </footer>
  </div>