.text-red{
    color:rgb(107, 37, 4);
}

label{
    color:rgb(90, 44, 2);
}

form{
    
    text-align: center;
    margin:0 auto;
}

.input-field input:focus + label {
    color: rgb(250, 116, 7) !important;
  }
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid rgb(250, 116, 7) !important;
    box-shadow: 0 1px 0 0 rgb(250, 116, 7) !important
  }
  .error{
    background-color:red;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}
.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(121, 85, 72, 0.65);
   }