
<div *ngIf="user">
    <div> 
        <h1>Your fucking profile - {{user.username}}</h1>
        <h3><u>Name and Surname</u>: {{user.name}} - {{user.lastName}} </h3> 
        <h3><u>License</u>: {{user.license}} </h3>
        <h3><u>City</u>: {{user.city}}</h3>
        <img src="{{user.userImage}}" alt="" width="10%">
    </div>
    <div *ngIf="this.session.getUser()._id == user._id">
        <div>
            <button [routerLink]="['/user/edit', session.getUser()._id]"> Edit</button>
            <button> Delete</button>
        </div>
        <div>
            <button>My Rents</button>
        </div>
    </div>
</div>
