<div class="col-3 backbtn" style="text-align:left" style="padding-left:20px">
  <a [routerLink]="['/rentList']">
    <button class="waves-effect waves-accent-2 btn amber darken-3"> back </button>
  </a>
</div>
<br>


<div *ngIf="!this.session.getUser()">
  <h1>For see the details you must be loged in</h1>
</div>

<div *ngIf="this.session.getUser()">


  <!-- <div>
    <h1>{{rent.brand}} - {{rent.model}}</h1>
    <h3>Price: {{rent.price}}</h3>

    <img src="{{rent.img}}" alt="" width="20%">
  </div> -->

  <!-- <div *ngIf="this.user._id !== undefined">
    <div *ngIf="this.user._id === rent.owner">
      <button class="waves-effect waves-accent-2 btn amber darken-3" [routerLink]="['/rent/edit', rent._id]">Edit</button>
    </div>
  </div> -->


  <!-- <div *ngIf="this.user._id !== rent.owner">
    <button class="btn btn-primary amber darken-3" (click)="addContract(rent,rent.owner,user)">Rent it!</button>
  </div>
  <div *ngIf="this.user._id === rent.owner">
    <h1>You can't rent your own bike!</h1>
  </div> -->

  <div class="row">
    <div class="col s7 push-s5">
      <span class="flow-text">
        <h1>{{rent.brand}} - {{rent.model}}</h1>
        <h3><u>Price</u>: <i>{{rent.price}}</i></h3>
        <h3><u>Point to pick-up and deliver</u>: <i>{{rent.where}}</i></h3>
        <h3><u>Only for use in</u>: <i>{{rent.use}}</i></h3>
        <h3><u>CC</u>: <i>{{rent.horsePower}}</i></h3>
        <h3><u>Required license</u>: <i>{{user.license}}</i></h3>
        <h3><u>Pick-Up date</u>: <i>{{rent.recogida}}</i></h3>
        <h3><u>Deliver date</u>: <i>{{rent.entrega}}</i></h3>
      </span>
    </div>
    <div class="col s5 pull-s7">
      <span class="flow-text">
      </span>
      <img src="{{rent.img}}" alt="" width="100%" style="border:2px solid rgb(250, 116, 7)">
      <div *ngIf="this.user._id !== undefined">
          <div *ngIf="this.user._id === rent.owner">
            <button class="waves-effect waves-accent-2 btn amber darken-3" [routerLink]="['/rent/edit', rent._id]">Edit</button>
          </div>
        </div>
            <div *ngIf="this.user._id !== rent.owner">
              <button onclick="Materialize.toast('CONGRATULATIONS,YOU HAVE RENT THIS BIKE!!', 4000, 'green center rounded')" class="waves-effect waves-accent-2 btn amber darken-3" (click)="addContract(rent,rent.owner,user)">Rent it!</button>
            </div>
            <div *ngIf="this.user._id === rent.owner">
                <button onclick="Materialize.toast('WRONG',2000,'',function(){alert('You cant rent your own motorcycle!!')})" class="waves-effect waves-accent-2 btn amber darken-3" >Rent it</button>
            </div>
    </div>
  </div>
</div>


<br>